@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
/* <<<<<<<<<<<<<<<Nav>>>>>>>>>>>>>>>> */
nav{
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
}
.d-flex{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
}
/* <<<<<<<<<<<<<<<Nav end>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<< top banner >>>>>>>>>>>>>>>*/
.top-btn{
    text-decoration: none;
    color: white;
    background-color: #458FF6;
    padding: 12px 35px;
    border-radius:22px;
}