@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
/* <<<<<<<<<<<<<<<Nav>>>>>>>>>>>>>>>> */
nav{
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
}
.d-flex{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
}
/* <<<<<<<<<<<<<<<Nav end>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<< top banner >>>>>>>>>>>>>>>*/
.top-banner{
    position: relative;
}
.top-btn{
    text-decoration: none;
    color: white;
    background-color: #458FF6;
    padding: 12px 35px;
    border-radius:22px;
}
.dot-img{
    position: absolute;
    top: 0px;
    left: -50px;
    width: 60px;
    opacity: 50%;
}
/* <<<<<<<<<<<<<<<top banner end>>>>>>>>>>>>>>>>> */
.black-line{
    width: 56px;
    height: 2px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 33px;
}
.service-p{
    width: 850px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.card-div{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows:repeat(2, 354px);
    grid-gap: 35px;
}
.card{
    width: 340px;
    height: 340px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 38px;
    box-sizing: border-box;
}
.side-A{
    position: absolute;
    top: 200px;
    left: -120px;
    z-index: -1;
}
.side-B{
    position: absolute;
    top: 540px;
    right: -100px;
    z-index: -1;
}